
@{
    ViewBag.Title = "Coffee Beans Shop xin giới thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    

    .lg-text {
        font-size: 52px;
        font-weight: 600;
        text-transform: none;
        color: #fff;
    }

    .image-aboutus-para {
        color: #fff;
    }

    .anima {
        transition: width 0.5s, height 0.5s, transform 0.2s;
        width: 160px;
        height: 160px;
        margin-right: 20px;
        margin-top: 60px;
        margin-left: 0px;
    }

        .anima:hover {
            width: 250px;
            height: 100px;
            /*transform: rotate(360deg);*/
            zoom: 100%;
        }


    .div1 {
        padding-top: 30px;
    }
</style>





<div class="space-custom"></div>
<!-- breadcrumb start -->
<div class="breadcrumb-area">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i></a></li>
            <li><a href="#">Trang Chủ</a></li>
            <li class="active">Giới Thiệu</li>
        </ol>
        <div class="about">
            <div class="about-left">

                <h3 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 25px">Chúng Tôi Là Ai?</h3>


            </div>
            <div class="about-right" style="font-family: Euclid">
                <p>Với kinh nghiệm nhiều năm trong lĩnh vực cà phê hạt, chúng tôi tự hào trở thành lựa chọn ưu tiên của người dân Việt Nam với những sản phẩm chất lượng, đảm bảo nguồn gốc, hương thơm và mùi vị.</p>
            </div>
        </div>

    </div>



    <!-- thanh vien -->


    <div class="row">

        <div class="col-12" style="margin-top: 30px; margin-bottom: 300px; ">
            <header class="text-center py-3 mb-10">
                <div class="">
                    <h1 class="font-weight-light text-black-50">Team Member</h1>
                </div>
            </header>

            <!-- Page Content -->

            <div class="container">
                <div class="row">
                    <!--Leader -->
                    <div class="anima col-3" style="margin-left: 135px">
                        <div class="card border-0 shadow">
                            <a href="https://www.facebook.com/itnguyenquocbao">


                                <img src="~/Asset/FrontEnd/img/blog/avatar3.jpg" class="card-img-top" alt="..." width="500" height="400">
                            </a>
                            <div class="card-body text-center">
                                <h5 class="card-title mb-0">Nguyen Quoc Bao</h5>
                                <div class="card-text text-black-50"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Team Member 3 -->

                    <div class="anima col-3">
                        <div class="card border-0 shadow">
                            <a href="https://www.facebook.com/quocan.oanhoanh.2409">


                                <img src="~/Asset/FrontEnd/img/blog/avatar4.jpg" class="card-img-top" alt="..." width="600" height="400">
                            </a>
                            <div class="card-body text-center">
                                <h5 class="card-title mb-0">Nguyen Quoc An</h5>
                                <div class="card-text text-black-50"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Team Member 1 -->
                    <div class="anima col-3">
                        <div class="card border-0 shadow">
                            <a href="https://www.facebook.com/lmtriiii">


                                <img src="~/Asset/FrontEnd/img/blog/avatar5.jpg" class="card-img-top" alt="..." width="600" height="400">
                            </a>
                            <div class="card-body text-center">
                                <h5 class="card-title mb-0">Le Minh Tri </h5>
                                <div class="card-text text-black-50"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Team Member 2 -->
                    <div class="anima col-3">
                        <div class="card border-0 shadow">
                            <a href="https://www.facebook.com/profile.php?id=100009424335594">


                                <img src="~/Asset/FrontEnd/img/blog/avatar1.jpg" class="card-img-top" alt="..." width="600" height="400">
                            </a>
                            <div class="card-body text-center">
                                <h5 class="card-title mb-0">Chau Huu Dang</h5>
                                <div class="card-text text-black-50"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Team Member 4 -->
                    <div class="anima col-3">
                        <div class="card border-0 shadow">
                            <a href="https://www.facebook.com/profile.php?id=100007066696233">


                                <img src="~/Asset/FrontEnd/img/blog/avatar2.jpg" class="card-img-top" alt="..." width="600" height="400">
                            </a>
                            <div class="card-body text-center">
                                <h5 class="card-title mb-0">Vo Nhut Hao</h5>
                                <div class="card-text text-black-50"></div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>




                <section class="section" id="section_main" style="margin-top:290px">
                    <div class="container">
                        <div class="row align-center">
                            <div class="col medium-7 small-10 large-7">
                                <div class="col-inner text-center">
                                    <h1 class="title-ab" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 25px">Tại sao chọn chúng tôi?</h1>
                                    <p class="sub-desc" style="font-family: Euclid; font-size: 15px">
                                        Khi bạn muốn tìm 1 sản phẩm phù hợp với tính cách, với sở thích, với vị thế của mình. Chúng tôi sẵn sàng hỗ trợ tận tâm tất cả mọi người. Bạn có thể đến trực tiếp cửa hàng để thử miễn phí 1 ly coffee nguyên chất. Và những lần sau bạn hoàn toàn có thể chỉ cần ở nhà và click, sản phẩm sẽ được giao đến tận nhà của bạn.
                                    </p>
                                    <div class="is-divider divider clearfix" style="max-width:60px"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row align-center">
                            <div class="col-md-6">

                            </div>
                        </div>
                    </div>

                </section>
            </div>
