@model Model.Footer

    <div class="service-area pt-70 pb-40 gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="single-service mb-30">
                        <div class="service-icon">
                            <i class="pe-7s-world"></i>
                        </div>
                        <div class="service-title">
                            <h3>Sản Phẩm Chính Hãng</h3>
                            <p>Thông Tin Sản Phẩm Rõ Ràng</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-service mb-30">
                        <div class="service-icon">
                            <i class="pe-7s-portfolio"></i>
                        </div>
                        <div class="service-title">
                            <h3>Nhân Viên Được Training Chuyên Nghiệp</h3>
                            <p>Có Kiến Thức Cơ Bản Để Kiểm Tra Chất Lượng Sản Phẩm</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-service mb-30 sm-mrg">
                        <div class="service-icon">
                            <i class="pe-7s-hammer"></i>
                        </div>
                        <div class="service-title">
                            <h3>Xử Lý Đơn Hàng Nhanh Chóng</h3>
                            <p>Từ Khâu Đặt Hàng Đến Xử Lý Đơn Hàng Diễn Ra Trong Vòng 10 phút</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-service mb-30 xs-mrg sm-mrg">
                        <div class="service-icon">
                            <i class="pe-7s-tools"></i>
                        </div>
                        <div class="service-title">
                            <h3>Chính Sách Khách Hàng</h3>
                            <p>Khách Hàng Luôn Được Tư Vấn Tận Tâm</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<footer class="black-bg">
    <div class="footer-top-area ptb-60">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="footer-widget">
                        <h3 class="footer-title">Liên Hệ Với Chúng Tôi</h3>
                        <div class="footer-contact">
                            <ul>
                   
                                <li><em class="fa fa-map-marker"></em>Cửa Hàng OffLine : Nguyễn Văn Cừ nối dài - Ninh Kiều <span>Cần Thơ</span></li>
                                <li><em class="fa fa-phone"></em>Điện Thoại: <a href="tel:0947452491">0388.070.043</a> <span></span></li>
                                <li><em class="fa fa-envelope-o"></em>Email: <a href="mailto:chauhuudang1702@gmail.com">chauhuudang1702@gmail.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="footer-widget">
                        <h3 class="footer-title">Về Chúng Tôi</h3>
                        <ul class="block-content">
                            <p style="color:white">
                                Coffee Beans RXTU là cửa hàng uy tín, lấy chất lượng làm đầu. Các nhân viên đều được training về chuyên môn và thái độ khi giao tiếp và tư vấn với khách hàng. 
                                Khách hàng khi tương tác với website sẽ dễ dàng thao tác dù là lần đầu tiên sử dụng.
                            </p>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="footer-widget">
                        <h3 class="footer-title">Facebook</h3>
                        <li><em class="fa fa-envelope-o"></em> Facebook: <a href="https://www.facebook.com/profile.php?id=100009424335594"> Admin of Website</a></li>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-bootom-area start -->
    
    <!-- footer-bootom-area end -->
</footer>